@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

body {
  font-family: 'Jost';
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #521c68;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.pa {
  position: absolute;
}
.pr {
  position: relative;
  width: 100%;
  height: 100%;
}
.fr {
  display: flex;
}
.fc {
  display: flex;
  flex-direction: column;
}
.jc-sa {
  justify-content: space-around;
}
.jc-sb {
  justify-content: space-between;
}
.jc-cen {
  justify-content: center;
}
.ai-fe {
  align-items: flex-end;
}
.ai-cen {
  align-items: center;
}
.ta-cen {
  text-align: center;
}



.circleNav {
  position: absolute;
  width: 30%;
  height: 30vw;
  background: radial-gradient(ellipse at top, #e66465, transparent),
  radial-gradient(ellipse at bottom, #4d9f0c, transparent);
  border-radius: 50%;
  transform-origin: center;
  transform: translate(-50%, calc(50vh - 50%));

}

.circleContent {
  position: absolute;
  width: 175%;
  height: 175vw;
  /* background: radial-gradient(ellipse at top, #e664647c, transparent),
  radial-gradient(ellipse at bottom, #4e9f0c6b, transparent); */
  border-radius: 50%;
  transform-origin: center;
  transition: 2s cubic-bezier(0.3, 0.9, 0.6, 1.05);
}

.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.title {
  position: absolute;
  top: 45%;
  left: 70%;
  border: 5px solid black;
  font-size: 50px;
}



.about {
  position: absolute;
  top: 78%;
  left: 55%;
  font-size: 50px;
  border: 5px solid black;
  transform: rotate(90deg);
}

.projects {
  position: absolute;
  top: 58%;
  left: 15%;
  font-size: 50px;
  transform: rotate(180deg);
  border: 5px solid black;
}

.experience {
  position: absolute;
  top: 19%;
  left: 34%;
  font-size: 50px;
  transform: rotate(270deg);
  border: 5px solid black;

}





/* SLATE STACK */


.stack {
  position: absolute;
  width: 150px;
  height: 225px;
  transform: translate(-10vw, 10vh);
}

.stack div {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
  transform: rotateX(60deg) rotateZ(45deg);
  box-shadow: 2px 2px 0px 0px rgba(59, 59, 59, 0.685);
  transition: 0.5s ease-in-out;
}

.stack div:nth-child(1):hover, .stack div:nth-child(2):hover, .stack div:nth-child(3):hover, .stack div:nth-child(4):hover {
  background-color: #ec6b6b;
}

.stack div:nth-child(1) {
  background-color: rgba(54, 111, 133, 0.61);
}

.stack div:nth-child(2) {
  background-color: rgba(82, 54, 133, 0.61);
  transform: translate(0px, -20px) rotateX(60deg) rotateZ(45deg);
}

.stack div:nth-child(3) {
  background-color: rgba(91, 54, 133, 0.61);
  transform: translate(0, -40px) rotateX(60deg) rotateZ(45deg);
}

.stack div:nth-child(4) {
  background-color: rgba(133, 54, 109, 0.61);
  transform: translate(0, -60px) rotateX(60deg) rotateZ(45deg);
}