@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: 'Jost';
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 12, 18, 1);
  overflow: hidden;
  animation: bodyColor 4s ease-out;
}

@keyframes bodyColor {
  from {
    background-color: #3c8b99;
  } to {
    background-color: rgba(10, 12, 18, 1);

  }
}

#root {
  width: 100%;
  height: 100%;
}

.pa {
  position: absolute;
}
.pr {
  position: relative;
  width: 100%;
  height: 100%;
}
.fr {
  display: flex;
}
.fc {
  display: flex;
  flex-direction: column;
}
.jc-sa {
  justify-content: space-around;
}
.jc-sb {
  justify-content: space-between;
}
.jc-cen {
  justify-content: center;
}
.ai-fe {
  align-items: flex-end;
}
.ai-cen {
  align-items: center;
}
.ta-cen {
  text-align: center;
}


.circleNav {
  position: absolute;
  width: 30%;
  height: 30vw;
  /* background: radial-gradient(ellipse at top, #e66465, transparent),
  radial-gradient(ellipse at bottom, #4d9f0c, transparent); */
  border-radius: 50%;
  transform-origin: center;
  transform: translate(-50%, calc(50vh - 50%));
  animation: navSlide 2s ease-out forwards;
  z-index: 1000;
}

.navCenterCircle {
  transform: scale(0.8);
  background-color: #0b5464;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  animation: navColor 2s ease-out backwards;
}

@keyframes navColor {
  from {
    background: rgb(68, 113, 172);
  } to {
    background: #0b5464;
  }
}
.navButton {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  background-color: #00ffff65;
  cursor: pointer;
  clip-path: polygon(50% 50%, 100% 33.75%, 100% 66.25%);
  transition: 0.5s;
}

@keyframes navSlide {
  from {
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  } to {
    transform: translate(-50%, calc(50vh - 50%));
  }
}


.navButton1 {
  transform: rotate(65deg) translate(3%);
  animation: navButton1 4s linear backwards;

}

.navButton2 {
  transform: rotate(22.5deg) translate(3%);
  animation: navButton2 3s linear backwards;

}

.navButton3 {
  transform: rotate(-20deg) translate(3%);
  animation: navButton3 3.5s linear backwards;

}

.navButton4 {
  transform: rotate(-62.5deg) translate(3%);
  animation: navButton4 4s linear backwards;
}

@keyframes navButton1 {
  0%, 50% {
    transform: rotate(65deg) translate(-15%, 0);
  } 62.5%, 87.5% {
    transform: rotate(65deg) translate(3%);
  } 100% {
    transform: rotate(65deg) translate(15%);
  }
}

@keyframes navButton2 {
  0%, 66.6666% {
    transform: rotate(65deg) translate(-15%, 0);
  } 83.3333% {
    transform: rotate(65deg) translate(3%);
  } 100% {
    transform: rotate(22.5deg) translate(3%);
  }
}

@keyframes navButton3 {
  0%, 57.142857% {
    transform: rotate(65deg) translate(-15%, 0);
  } 71.428571% {
    transform: rotate(65deg) translate(3%);
  } 100% {
    transform: rotate(-20deg) translate(3%);
  }
}

@keyframes navButton4 {
  0%, 50% {
    transform: rotate(65deg) translate(-15%, 0);
  } 62.5% {
    transform: rotate(65deg) translate(3%);
  } 100% {
    transform: rotate(-62.5deg) translate(3%);
  }
}


.circleContent {
  position: absolute;
  width: 175%;
  height: 175vw;
  /* border: 1px solid #00ffea8c; */
  box-shadow: 0px 0px 40px 10px #00f7ffc4;
  border-radius: 50%;
  transform-origin: center;
  transition: 2s linear;
  z-index: -1000;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
}

/* .circleContent svg:nth-child(1) {
  transform: scale(0.2) translate(400vw, 0px);
  background: white;
}

.circleContent svg:nth-child(2) {
  transform: scale(0.2) translate(600vw, 0px);
  background: red;
}

.circleContent svg:nth-child(3) {
  transform: scale(0.2) translate(0vw, 600vw);
  background: yellow;
}

.circleContent svg:nth-child(4) {
  transform: scale(0.2) translate(0vw, 400vw);
  background: green;
} */


.content-wrapper {
  position: relative;
  display: flex;
	justify-content: center;
	align-items: center;
  width: 100%;
  height: 100%;
}

.content-wrapper-inner {
  position: relative;
  display: flex;
	justify-content: center;
  width: 70%;
  height: 90%;
}

.title {
  /* transition: 2s ease-out; */
  animation: fadeIn 2s ease-out backwards 8s;
}

.experience {

  /* transition: 2s ease-out; */
}

.projects {

  /* transition: 2s ease-out; */

}

.contact {
  /* transition: 2s ease-out; */
}

.holoText {
	--c: #1dd3b01a;
	font-weight: 700;
	font-size: 4rem;
	color: #ffffffa0;
	letter-spacing: 0.5rem;
	text-shadow: 0.2rem -0.4rem var(--c), 0.4rem -0.8rem var(--c), 0.6rem -1.2rem var(--c), 1.5rem -3rem 5px var(--c), 3rem -4.5rem 10px var(--c);
	padding: 0.25rem 0.5rem 0.5rem;
	transform: skew(-5deg);
	animation:
    holoText 5s infinite ease-in-out alternate;
}

.holoTextTitle {
	animation:
    holoText 5s infinite ease-in-out alternate,
    fadeIn 1s ease-out backwards 4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes holoText {
	100% {
		text-shadow: -0.2rem -0.4rem var(--c), -0.4rem -0.8rem var(--c), -0.6rem -1.2rem var(--c), -1.5rem -3rem 5px var(--c), -3rem -4.5rem 10px var(--c);
	transform: skew(10deg);
	}
}


/* SLATE STACK */

.stack {
  position: absolute;
  width: 150px;
  height: 225px;
  transform: translate(-2vw, 2vh) scale(.7);
  transition: 0.5s linear;
}



.card {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
  transform: rotateX(60deg) rotateZ(45deg);
  box-shadow: 2px 2px 0px 0px rgba(59, 59, 59, 0.685);
  transition: 1s ease-in-out;
}

.card1 {
  background-color: rgba(0, 255, 200, 0.363);
  animation:
    card1 1s ease-in,
    card1Initial 1s linear backwards;
  /* transform: translateY(200px) rotateX(60deg) rotateZ(45deg) !important; */
}

.circuit {
  opacity: 0;
  animation: card1 1s cubic-bezier(0, 2.35, 1,-1.25) forwards;
}

@keyframes card1 {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes card1Initial {
  from {
    transform: translate(0px, 0px) rotateX(60deg) rotateZ(45deg);
  } to {
    transform: translate(-60px, 30px) rotateX(60deg) rotateZ(45deg);
  }
}

.card2 {
  background-color: rgba(0, 217, 255, 0.473);
  transform: translate(0px, -30px) rotateX(60deg) rotateZ(45deg);
  animation:
  card1 1s ease-in,
  card2 0.5s  linear 1s backwards;
  /* transform: translateY(200px) !important; */
}

@keyframes card2 {
  from {
    transform: translate(0px, 0px) rotateX(60deg) rotateZ(45deg);
  } to {
    transform: translate(0px, -30px) rotateX(60deg) rotateZ(45deg);
  }
}

.card3 {
  background-color: rgba(0, 255, 136, 0.452);
  transform: translate(0, -60px) rotateX(60deg) rotateZ(45deg);
  animation:
  card1 1s ease-in,
  card3 1s  linear 1s backwards;
  /* transform: translateY(200px) !important; */
}

@keyframes card3 {
  from {
    transform: translate(0px, 0px) rotateX(60deg) rotateZ(45deg);
  } to {
    transform: translate(0px, -60px) rotateX(60deg) rotateZ(45deg);
  }
}

.card4 {
  background-color: rgba(62, 168, 255, 0.61);
  transform: translate(0, -90px) rotateX(60deg) rotateZ(45deg);
  animation:
  card1 1s ease-in,
  card4 1.5s  linear 1s backwards;
  /* transform: translateY(200px) !important; */
}

@keyframes card4 {
  from {
    transform: translate(0px, 0px) rotateX(60deg) rotateZ(45deg);
  } to {
    transform: translate(0px, -90px) rotateX(60deg) rotateZ(45deg);
  }
}



@media screen and (max-width: 1080px) {
  .stack {
  transform: translate(-2vw, 0vh) scale(.6);
  }
  .holoText {
  font-size: 3rem;
  text-shadow: 0.15rem -0.25rem var(--c), 0.25rem -0.6rem var(--c), 0.3rem -0.8rem var(--c), 1rem -2rem var(--c), 2rem -4rem 10px var(--c);
  }
  @keyframes holoText {
    100% {
      text-shadow: -0.15rem -0.25rem var(--c), -0.25rem -0.6rem var(--c), -0.3rem -0.8rem var(--c), -1rem -2rem var(--c), -2rem -4rem 10px var(--c);
    transform: skew(10deg);
    }
  }
}

@media screen and (max-width: 720px) {
  .stack {
  transform: translate(2vw, -2vh) scale(0.4);
  }
  .holoText {
    font-size: 3rem;
    text-shadow: 0.10rem -0.22rem var(--c), 0.1rem -0.6rem var(--c), 0.2rem -0.6rem var(--c), 0.8rem -1.5rem var(--c), 0.8rem -3rem 8px var(--c);
    }
  @keyframes holoText {
    100% {
      text-shadow: -0.10rem -0.22rem var(--c), -0.1rem -0.6rem var(--c), -0.2rem -0.6rem var(--c), -0.8rem -1.5rem var(--c), -0.8rem -3rem 10px var(--c);
      transform: skew(10deg);
    }
  }

}



@media screen and (max-width: 480px) {
  .stack {
  transform: translate(6vw, 65vh) scale(0.3);
  }
  .holoText {
    font-size: 2rem;
    text-shadow: 0.10rem -0.22rem var(--c), 0.1rem -0.6rem var(--c), 0.2rem -0.6rem var(--c), 0.8rem -1.5rem var(--c), 0.8rem -3rem 10px var(--c);
    transform: translate(0rem, -2rem);
  }
  .circleNav {
    width: 40%;
    height: 40vw;
  }
  @keyframes holoText {
    100% {
      text-shadow: -0.10rem -0.22rem var(--c), -0.1rem -0.6rem var(--c), -0.2rem -0.6rem var(--c), -0.8rem -1.5rem var(--c), -0.8rem -3rem 10px var(--c);
      transform: translate(0rem, -2rem) skew(10deg);
    }
  }
  .head-projector:nth-child(1) {
    left: 10%
  }

  .head-projector:nth-child(2) {
    right: 10%
  }

}


